:root {
  --clr-background: #2E3440;
  --clr-txt: #ECEFF4;
}

.App {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--clr-background);
  color: var(--clr-txt);

}

/* SEARCH RESULT CARDS */
.Card {
  display: flex;
  justify-content: center;

  width: 50%;

  margin: auto;
  margin-bottom: 30px;
  padding: 10px;

  text-decoration: none;
  border-radius: 10px;
  color: #ECEFF4;
  background-color: #3B4252;
}

/* POKEMON INFO PAGE */
.container {
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: center;
  gap: 30px;
}

.infoPageTitle {
  grid-column: 1 / 3;
}

.infoPagePicture {
  border-radius: 10px;
  max-width:100%;
  height: auto;
}

.statName { display: inline-block; width: 80px; }

.bug {background-color: #A8B820; width: 100px; text-align: center;}
.dark {background-color: #705848; width: 100px; text-align: center;}
.dragon {background-color: #7038F8; width: 100px; text-align: center;}
.electric {background-color: #F8D030; width: 100px; text-align: center;}
.fairy {background-color: #EE99AC; width: 100px; text-align: center;}
.fighting {background-color: #C03028; width: 100px; text-align: center;}
.fire {background-color: #F08030; width: 100px; text-align: center;}
.flying {background-color: #A890F0; width: 100px; text-align: center;}
.ghost {background-color: #705898; width: 100px; text-align: center;}
.grass {background-color: #78C850; width: 100px; text-align: center;}
.ground {background-color: #E0C068; width: 100px; text-align: center;}
.ice {background-color: #98D8D8; width: 100px; text-align: center;}
.normal {background-color: #A8A878; width: 100px; text-align: center;}
.poison {background-color: #A040A0; width: 100px; text-align: center;}
.psychic {background-color: #F85888; width: 100px; text-align: center;}
.rock {background-color: #B8A038; width: 100px; text-align: center;}
.steel {background-color: #B8B8D0; width: 100px; text-align: center;}
.water {background-color: #6890F0; width: 100px; text-align: center;}