:root {
	--clr-background: #2e3440;
	--clr-background-secondary: #3B4252;
	--clr-txt: #eceff4;
}

* {
margin: 0;
padding: 0;
}

.App {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: var(--clr-background);
	color: var(--clr-txt);
}

.NumResults {
	width: max-content;
	padding: 10px;
	margin: auto;
}

/* Main Header */
.MainHeader {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	margin: 15px;
	gap: 20px;
}

.MainTitle {
	font-size: 4em;
	font-weight: 400;
}

.Logo {
	width: auto;
	height: 60px;
}

/* Search Bar */
.Search {
	margin: auto;
	padding: 2px;
	width: max-content;
	background-color: var(--clr-background-secondary);
	border-radius: 5px;
}

.SearchBar {
	margin-left: 5px;
	border: 0;
	background-color: var(--clr-background-secondary);
	color: var(--clr-txt);
	outline: none;
}

.SearchButton {
	padding: 5px;
	border: 0px;
	border-radius: 5px;
	background-color: var(--clr-background-secondary);
	color: var(--clr-txt);
}

.SearchButton:hover {
	background-color: var(--clr-background);
	transition-duration: 0.4s;
}

/* More Results Button */
.MoreResultsButton {
	display: block;
	margin: auto;
	padding: 5px;
	font-family: "Roboto Mono", monospace;
	font-size: 15px;
	background-color: #3b4252;
	border: 0;
	color: var(--clr-txt);
	border-radius: 5px;
	transition-duration: 0.4s;
}

.MoreResultsButton:hover {
	background-color: var(--clr-txt);
	color: var(--clr-background);
}

.TypeFilter {
	color: var(--clr-txt);
}

.AdvancedSearchMenu {
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: var(--clr-background);
	border-radius: 5px;
	padding: 5px;
}

/* SEARCH RESULT CARDS */
.Card {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 50%;

	margin: auto;
	margin-bottom: 30px;
	padding: 10px;

	text-decoration: none;
	border-radius: 10px;
	color: #eceff4;
	background-color: #3b4252;
}

.CardTitle {
	align-self: center;
	height: max-content;
}

/* POKEMON INFO PAGE */
.pokemonPage {
	margin: auto;
	padding: 2em;
	max-width: max-content;
}


.container {
	display: grid;
	grid-template-columns: 600px 400px;
	grid-gap: 30px;
}

@media only screen and (max-width: 900px) {
	.container {
		grid-template-columns: 100%;
	}
}

.PokemonName {
	margin: 0;
	font-size: 3em;
}

.PokemonClassification {
	margin: 0;
	font-size: 1.75em;
}

.PokemonTypes {
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	gap: 15px;
}

.PokemonStatTitle {
	margin: 0;
}

.PokemonStat {
	margin: 0;
}

.infoPagePicture {
	border-radius: 2%;
	width: 100%;
	height: auto;
	background-color: #ECEFF4;
}

.statName {
	display: inline-block;
	width: 150px;
}

.Male {
	color: #89CFF0;
}

.Female {
	color:  #ffb6c1;
}

.bug {
	background-color: #a8b820;
	width: 100px;
	text-align: center;
}
.dark {
	background-color: #705848;
	width: 100px;
	text-align: center;
}
.dragon {
	background-color: #7038f8;
	width: 100px;
	text-align: center;
}
.electric {
	background-color: #f8d030;
	width: 100px;
	text-align: center;
}
.fairy {
	background-color: #ee99ac;
	width: 100px;
	text-align: center;
}
.fighting {
	background-color: #c03028;
	width: 100px;
	text-align: center;
}
.fire {
	background-color: #f08030;
	width: 100px;
	text-align: center;
}
.flying {
	background-color: #a890f0;
	width: 100px;
	text-align: center;
}
.ghost {
	background-color: #705898;
	width: 100px;
	text-align: center;
}
.grass {
	background-color: #78c850;
	width: 100px;
	text-align: center;
}
.ground {
	background-color: #e0c068;
	width: 100px;
	text-align: center;
}
.ice {
	background-color: #98d8d8;
	width: 100px;
	text-align: center;
}
.normal {
	background-color: #a8a878;
	width: 100px;
	text-align: center;
}
.poison {
	background-color: #a040a0;
	width: 100px;
	text-align: center;
}
.psychic {
	background-color: #f85888;
	width: 100px;
	text-align: center;
}
.rock {
	background-color: #b8a038;
	width: 100px;
	text-align: center;
}
.steel {
	background-color: #b8b8d0;
	width: 100px;
	text-align: center;
}
.water {
	background-color: #6890f0;
	width: 100px;
	text-align: center;
}
